Repository containerd/rust-extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: C-client, C-logging, C-runc, C-runc-shim, C-shim, C-shim-protos, C-snapshots, T-CI, T-docs

fmt modify
  crates/shim/src/cgroup.rs
Labels: C-shim

"Subsystem::Mem" add judge for the limit and swap this error wiil ocurr in containerd's TestUpdateContainerResources_MemoryLimit
  crates/shim/src/cgroup.rs
Labels: C-shim

fmt modify
  crates/shim/src/cgroup.rs
Labels: C-shim

add return avoid twice setting
  crates/shim/src/cgroup.rs
Labels: C-shim

ctr execsyc when delete process should close process first and then close io.
  crates/runc-shim/src/container.rs
Labels: C-runc-shim

ctr execsyc when delete process should close
  crates/runc-shim/src/container.rs
  crates/shim/src/cgroup.rs
Labels: C-runc-shim, C-shim

The golang "true" is 0 ,but Rust "true" is 1
  crates/runc-shim/src/common.rs
  crates/runc-shim/src/task.rs
Labels: C-runc-shim

if delete the process but the process's io still
  crates/runc-shim/src/common.rs
  crates/runc-shim/src/container.rs
Labels: C-runc-shim

.github/labeler.yml:

# Automatically assign labels to PRs.
# `C-` project crate(s) affected.
# `T-` change type (CI, docs, etc).

C-client:
  - changed-files:
      - any-glob-to-any-file: crates/client/**

C-logging:
  - changed-files:
      - any-glob-to-any-file: crates/logging/**

C-runc:
  - changed-files:
      - any-glob-to-any-file: crates/runc/**

C-runc-shim:
  - changed-files:
      - any-glob-to-any-file: crates/runc-shim/**

C-shim:
  - changed-files:
      - any-glob-to-any-file: crates/shim/**

C-shim-protos:
  - changed-files:
      - any-glob-to-any-file: crates/shim-protos/**

C-snapshots:
  - changed-files:
      - any-glob-to-any-file: crates/snapshots/**

T-CI:
  - changed-files:
      - any-glob-to-any-file: [".github/**", "*.toml"]

T-docs:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
