Repository containerd/rust-extensions, pull requests merged in 2023-09, with the labels that each got.

#194 Update tonic and prost dependencies
  Cargo.toml
Labels: T-dependencies, C-client, C-snapshots, T-CI

#196 Measure test coverage
  .github/workflows/ci.yml
  .github/workflows/cover.yml
  rust-toolchain.toml
Labels: T-CI

#199 Use shell script to install protobuf
  .github/workflows/ci-windows.yml
  .github/workflows/ci.yml
  scripts/install-protobuf.sh
Labels: T-CI

#200 chore: Standardize Cargo.toml files, enable more workspace dependencies
  Cargo.toml
  crates/client/Cargo.toml
  crates/logging/Cargo.toml
  crates/runc-shim/Cargo.toml
  crates/runc/Cargo.toml
  crates/shim-protos/Cargo.toml
  crates/shim/Cargo.toml
  crates/snapshots/Cargo.toml
Labels: C-runc-shim, C-shim-protos, C-shim, C-logging, C-client, C-snapshots, C-runc, T-CI

#203 ci: Download containerd binaries from GitHub release archives for integration tests
  .github/workflows/ci.yml
Labels: T-CI

#181 Remove temporary work around and bump containerd versions
  .github/workflows/ci.yml
Labels: T-CI
