Repository containerd/rust-extensions, pull requests merged in 2023-08, with the labels that each got.

#171 Improve containerd client ergonomics
  crates/client/examples/version.rs
  crates/client/src/lib.rs
Labels: C-client

#172 Group release notes by crate
  .github/release.yml
Labels: T-CI

#174 Apply Windows label
  .github/workflows/labeler.yml
Labels: T-CI

#175 Bump client to 0.4.0
  crates/client/Cargo.toml
Labels: C-client

#179 Fix nightly CI and Pull Request CI
  .github/workflows/ci.yml
Labels: T-CI

#178 Add Windows statistics protobuf pacakge
  crates/shim-protos/build.rs
  crates/shim-protos/src/lib.rs
  crates/shim-protos/src/windows.rs
  crates/shim-protos/vendor/README.md
  crates/shim-protos/vendor/github.com/containerd/cgroups/v3/cgroup1/stats/metrics.proto
  crates/shim-protos/vendor/microsoft/hcsshim/cmd/containerd-shim-runhcs-v1/stats/stats.proto
Labels: T-docs, C-shim-protos, OS-windows

#177 Handle cgroup v1 or v2 to enable resource updates
  .github/workflows/ci.yml
  crates/shim/src/cgroup.rs
Labels: C-shim, T-CI

#166 Use Go version associated with containerd release in CI
  .github/workflows/ci.yml
Labels: T-CI

#167 feat(runc-shim): add a version flag
  crates/runc-shim/build.rs
  crates/runc-shim/src/main.rs
  crates/shim/src/args.rs
  crates/shim/src/lib.rs
  crates/shim/src/synchronous/mod.rs
Labels: C-runc-shim, C-shim

#180 Bump the version for shim protos and containerd-shim
  crates/runc-shim/Cargo.toml
  crates/shim-protos/Cargo.toml
  crates/shim/Cargo.toml
Labels: C-runc-shim, C-shim-protos, C-shim

#182 Automate crates publishing
  .github/workflows/publish.yml
Labels: T-CI
