Repository containerd/rust-extensions, pull requests merged in 2023-10, with the labels that each got.

#209 Temporarily disable a few more CI tests
  .github/workflows/ci.yml
Labels: T-CI

#206 [Windows] Retry when pipe is busy
  crates/shim/src/synchronous/publisher.rs
Labels: C-shim, OS-windows

#210 Use log format similar to containerd
  Cargo.toml
  crates/shim/src/logger.rs
  crates/shim/src/sys/windows/named_pipe_logger.rs
Labels: C-shim, T-CI

#208 Simplify doc management and update READMEs
  .github/workflows/ci.yml
  crates/client/Cargo.toml
  crates/client/README.md
  crates/client/src/lib.rs
  crates/logging/Cargo.toml
  crates/logging/src/lib.rs
  crates/runc/Cargo.toml
  crates/runc/README.md
  crates/runc/src/lib.rs
  crates/shim-protos/Cargo.toml
  crates/shim-protos/README.md
  crates/shim-protos/src/lib.rs
  crates/shim/Cargo.toml
  crates/shim/README.md
  crates/shim/src/lib.rs
  crates/snapshots/Cargo.toml
  crates/snapshots/README.md
  crates/snapshots/src/lib.rs
Labels: T-docs, C-shim-protos, C-shim, C-logging, C-client, C-snapshots, C-runc, T-CI

#211 Update nix crate to 0.27
  Cargo.toml
  crates/runc-shim/Cargo.toml
  crates/runc-shim/src/common.rs
  crates/runc-shim/src/runc.rs
  crates/runc/Cargo.toml
  crates/shim/Cargo.toml
  crates/shim/src/synchronous/publisher.rs
  crates/shim/src/util.rs
Labels: C-runc-shim, C-shim, C-runc, T-CI

#213 Update TTRPC
  crates/shim-protos/Cargo.toml
  crates/shim-protos/tests/ttrpc.rs
Labels: C-shim-protos

#216 Create v0.6.0 release of containerd-shim and shim-protos
  crates/runc-shim/Cargo.toml
  crates/shim-protos/Cargo.toml
  crates/shim/Cargo.toml
Labels: C-runc-shim, C-shim-protos, C-shim
