Repository containerd/rust-extensions, pull requests merged in 2024-02, with the labels that each got.

#240 When the containerd process is restarted, a large number of sigpipe signals occur, leading to the containerd process freezing.
  crates/shim/src/asynchronous/mod.rs
Labels: C-shim

#222 Update containerd versions on CI
  .github/workflows/ci.yml
Labels: T-CI

#195 feat: set THP_DISABLE=true in shim, and restore it before starting runc
  Cargo.toml
  crates/runc-shim/Cargo.toml
  crates/runc-shim/src/service.rs
  crates/runc/Cargo.toml
  crates/runc/src/lib.rs
Labels: C-runc-shim, C-runc, T-CI
