Repository containerd/rust-extensions, pull requests merged in 2024-10, with the labels that each got.

#322 crates/shim-protos/Cargo: relax version requirement for protobuf
  crates/shim-protos/Cargo.toml
Labels: C-shim-protos

#326 fix os_pipe doesn't work with async IO
  crates/runc/src/io.rs
Labels: C-runc

#330 fix: remove meaningless input from other_error macro
  crates/runc-shim/src/cgroup_memory.rs
  crates/runc-shim/src/common.rs
  crates/runc-shim/src/runc.rs
  crates/runc-shim/src/task.rs
  crates/shim/src/asynchronous/monitor.rs
  crates/shim/src/asynchronous/util.rs
  crates/shim/src/cgroup.rs
  crates/shim/src/error.rs
  crates/shim/src/reap.rs
  crates/shim/src/synchronous/util.rs
Labels: C-runc-shim, C-shim

#285 shim: Implement the pause and resume interfaces
  crates/runc-shim/src/container.rs
  crates/runc-shim/src/processes.rs
  crates/runc-shim/src/runc.rs
  crates/runc-shim/src/task.rs
Labels: C-runc-shim, needs update

#318 <rshim>Improve the events report
  crates/runc-shim/src/service.rs
  crates/shim/src/asynchronous/publisher.rs
Labels: C-runc-shim, C-shim

#332 change socket path
  .github/workflows/ci.yml
  crates/shim/Cargo.toml
  crates/shim/README.md
  crates/shim/src/lib.rs
Labels: T-docs, C-shim, T-CI
