Repository containerd/rust-extensions, pull requests merged in 2024-12, with the labels that each got.

#344 Improve `with_namespace!` macro a little
  crates/client/src/lib.rs
Labels: C-client

#339 Attempt to change mutex to rwlock
  crates/runc-shim/src/service.rs
  crates/runc-shim/src/task.rs
Labels: C-runc-shim

#337 fix leftover shim processes
  crates/runc-shim/Cargo.toml
  crates/runc-shim/src/cgroup_memory.rs
Labels: C-runc-shim, needs update

#294 if init is paused/pausing, exec state should be the same
  crates/runc-shim/src/container.rs
Labels: C-runc-shim, needs update

#342 The task_dir successfully cleans when the file is absent
  crates/runc-shim/src/service.rs
  crates/shim/src/asynchronous/util.rs
Labels: C-runc-shim, C-shim

#352 fix process exit (not init) event not publish
  crates/runc-shim/src/processes.rs
  crates/runc-shim/src/service.rs
Labels: C-runc-shim

#351 Prevent the init process from exiting and continuing with start
  crates/runc-shim/src/container.rs
  crates/runc-shim/src/task.rs
Labels: C-runc-shim

#346 Attemp to resolve deadlock in blocking fifo open
  crates/runc-shim/src/common.rs
  crates/runc-shim/src/runc.rs
Labels: C-runc-shim

#350 Optimize: refine the scope of the lock.
  crates/runc-shim/src/task.rs
Labels: C-runc-shim
