Repository containerd/rust-extensions, pull requests merged in 2024-08, with the labels that each got.

#290 add pid to the delete response
  crates/runc-shim/src/service.rs
  crates/shim/src/asynchronous/util.rs
Labels: C-runc-shim, C-shim

#293 add process info to pids() interface
  crates/runc-shim/src/container.rs
Labels: C-runc-shim

#306 chore: Update `nix` package to latest
  Cargo.toml
  crates/runc-shim/src/common.rs
Labels: C-runc-shim, T-CI

#292 return pid=0 to connect interface when get an error.
  crates/runc-shim/src/task.rs
Labels: C-runc-shim
