Repository containerd/rust-extensions, pull requests merged in 2024-03, with the labels that each got.

#247 Use RUST_LOG env to configure logging if present
  crates/shim/src/asynchronous/mod.rs
  crates/shim/src/lib.rs
  crates/shim/src/logger.rs
  crates/shim/src/synchronous/mod.rs
Labels: C-shim

#252 Release 0.7.0 of Shim and 0.5.0 of client
  crates/client/Cargo.toml
  crates/runc-shim/Cargo.toml
  crates/shim-protos/Cargo.toml
  crates/shim/Cargo.toml
Labels: C-runc-shim, C-shim-protos, C-shim, C-client

#253 Fix command fds in sync version of the shim
  crates/shim/src/synchronous/mod.rs
Labels: C-shim

#256 Release fix for cgroup parsing
  crates/runc-shim/Cargo.toml
  crates/shim/Cargo.toml
Labels: C-runc-shim, C-shim
