Repository containerd/rust-extensions, pull requests merged in 2024-05, with the labels that each got.

#264 fix(client): if tonic has tls feature
  crates/client/src/lib.rs
Labels: C-client

#266 fix(overlay): If there are a large number of overlay layers, the container can't be started
  crates/shim/Cargo.toml
  crates/shim/src/mount.rs
Labels: C-shim

#273 docs: fix broken links
  crates/logging/README.md
  crates/shim-protos/README.md
  crates/shim/README.md
  crates/snapshots/README.md
Labels: T-docs, C-shim-protos, C-shim, C-logging, C-snapshots
