Repository containerd/rust-extensions, pull requests merged in 2025-04, with the labels that each got.

#390 pin grcov version
  .github/workflows/cover.yml
Labels: T-CI

#389 Re-enable cargo machete
  .github/workflows/ci.yml
  crates/runc-shim/Cargo.toml
Labels: C-runc-shim, T-CI

#392 optimize: use a more user-friendly interface in ttrpc
  crates/runc-shim/src/service.rs
Labels: C-runc-shim
