Repository containerd/rust-extensions, pull requests merged in 2025-01, with the labels that each got.

#355 Fix publisher debug info is not correct
  crates/shim/src/asynchronous/publisher.rs
Labels: C-shim

#358 Update containerd versions for Linux integration
  .github/workflows/ci.yml
Labels: T-CI

#361 Add mod for transfer types
  crates/client/src/lib.rs
Labels: C-client

#359 OpenOptions in blocking mod is a time-consuming operation.
  crates/runc/src/asynchronous/io.rs
  crates/runc/src/asynchronous/mod.rs
  crates/runc/src/asynchronous/pipe.rs
  crates/runc/src/lib.rs
  crates/runc/src/synchronous/io.rs
  crates/runc/src/synchronous/mod.rs
Labels: C-runc

#365 Fix CI
  crates/shim-protos/examples/ttrpc-server-async.rs
  crates/shim-protos/examples/ttrpc-server.rs
  crates/shim-protos/tests/ttrpc.rs
  crates/shim/src/asynchronous/mod.rs
  crates/shim/src/asynchronous/publisher.rs
  crates/shim/src/synchronous/mod.rs
  crates/shim/src/synchronous/publisher.rs
Labels: C-shim-protos, C-shim

#363 Add a to_any helper in the containerd client crate
  crates/client/src/lib.rs
Labels: C-client

#370 Add info for get runtimeinfo
  crates/runc-shim/Cargo.toml
  crates/runc-shim/src/main.rs
  crates/shim-protos/build.rs
  crates/shim-protos/src/types.rs
  crates/shim-protos/vendor/github.com/containerd/containerd/api/types/introspection.proto
  crates/shim/Cargo.toml
  crates/shim/src/args.rs
  crates/shim/src/asynchronous/mod.rs
Labels: C-runc-shim, C-shim-protos, C-shim

#367 Fix complie error
  crates/client/vendor/github.com/containerd/containerd/api/services/images/v1/images.proto
  crates/client/vendor/github.com/containerd/containerd/api/types/fieldpath.proto
  crates/shim-protos/Cargo.toml
  crates/shim/src/asynchronous/mod.rs
  crates/shim/src/synchronous/mod.rs
  crates/shim/src/synchronous/publisher.rs
Labels: C-shim-protos, C-shim, C-client
